@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h2 class="text-center">REPLAY</h2>
    <hr class="my-4">
    <p class="lead">Το Δισκάδικο διαθέτει όλα τα είδη μουσικής, ωστόσο, φημίζεται για την εξειδίκευση και την ποικιλία του στην ροκ μουσική, καλύπτοντας όλη την γκάμα της. </p>
    <p>Στο κατάστημα θα βρείτε νέες κυκλοφορίες δίσκων αλλά και μεγάλη ποικιλία σε μεταχειρισμένους.</p>
</div>

<div class="jumbotron">
    <h2>OWNERS</h2>
    <hr class="my-4">
    <p class="lead">Βεργιάννης Νικόλαος - nikosvg7@gmail.com - p16170</p>
    <hr class="my-4">
    <p class="lead">Μηναδάκης Γεώργιος - lsdmiddlelord2@gmail.com - p13084</p>
    <hr class="my-4">
    <p class="lead">Γραμμένος Γεράσιμος - g-grammenos@hotmail.gr -  p16025</p>

</div>

