@model IEnumerable<MusikoStore.Models.Genre>
    @{
        ViewBag.Title = "TopGenre";
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

            </tr>
        }
    </table>

